body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0046ae;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


.small-left-image {  
    width: 7%;  
    float: left;
    margin-top: -20px;
    
 }


#banner {
    background-color: #007bff;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.button {
    display: inline-block;
    background-color: #ffcc00;
    color: #0046ae;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.benefits {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    background-color: #f3e179; 
}

.benefit-item {
    flex-basis: 22%; 
    margin: 10px;
    padding: 20px;
    background: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.benefit-item img {
    max-width: 100px;
    margin-bottom: 20px;
}

.benefit-item h3 {
    color: #333333; 
    margin-bottom: 10px;
}

.benefit-item p {
    font-size: 14px; 
    color: #666666; 
}

.form-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    
}

form {
    display: flex;
    flex-direction: column;
}

form label, form select, form input {
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: #0046ae;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.form-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
}
select, input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
